<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StoreMan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css" rel="stylesheet">
    .sman-sidebar{
        padding-right: 25px;
    }
    .sman-sidebar-header{
        text-align: center;
        background-color: #13a1a5 !important;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    .sman-sidebar{
        border-right: 150px solid white;
        background-color: #13a1a5 !important;
        height: 800px;
    }
    .sman-sidebar-item{
        background-color: white !important;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 600;
        color: #13a1a5;
        padding-right: 15px;
    }
    .sman-sidebar-content{
        margin-top: 100px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand color1" href="{% url 'welcome:index' %}">StoreMan</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="color1" href="{% url 'welcome:index' %}">HOME</a></li>
                        <li><a class="color1" href="#tour">ABOUT US</a></li>
                        <li><a class="color1" href="#contact">CONTACT</a></li>
                        {% block navblock %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>


    <!-- ########################################   BODY-START #############################################-->
<div class="container-fluid sman-body-margin">
    <div class="row">
        <div class="col-md-3 text-right sman-sidebar">
            <div class="sman-sidebar-header">
                Administrate
            </div>
            <div class="sman-sidebar-content">
                <div class="sman-sidebar-item">
                    <a href="{% url 'inventory:index' %}">Inventorty Items</a>
                </div>
                <div class="sman-sidebar-item">
                    <a href="{%url 'inventory:add-inventory' %}">Add Inventorty Item</a>
                </div>
                <div class="sman-sidebar-item">
                    <a href="{% url 'placeorder:index' %}">Generate Bill</a>
                </div>
                <div class="sman-sidebar-item">
                    <a href="{% url 'placeorder:order-view' %}">Orders</a>
                </div>
                <div class="sman-sidebar-item">
                    <a href="{% url 'placeorder:order-item-view' %}">Order Items</a>
                </div>
                {% if admin_type %}
                {% block sideblock %}
                {% endblock %}
                {% endif %}
            </div>
        </div>
    {% block body %}
    {% endblock %}
</div>
</div>
    <!-- ########################################   BODY-END #############################################-->


    <div class="sman-footer-main">
        <div class="float-left color1 font-glyphy"><span class="fa fa-google-plus-square color1"></span><span class="fa fa-facebook-square color1"></span><span class="fa fa-instagram color1"></span><span class="fa fa-twitter-square color1"></span></div>
        <div class="footer-copyright float-right color1">© 2018 Copyright:
            <a href="#" class="color1"> StoreMan.com</a>
        </div>
    </div>
</body>
</html>