{% extends 'placeorder/base.html' %}
{% block navblock %}
<li><a class="color1" href="{% url 'account:logout' %}">LOGOUT</a></li>
{% endblock %}
{% block sideblock%}
<div class="sman-sidebar-item">
    <a href="{% url 'account:slave_signup' %}">Add User</a>
</div>
{% endblock %}
{% block body %}
<!-- loads the path to your static files -->
<style type="text/css" rel="stylesheet">
    .color1{
        font-weight: 600;
        color: #13a1a5 !important;
    }
    .color1-bg{
        background-color: #13a1a5 !important;
        border-radius: 15px;
    }
    .btn-outline-primary{
        border-color: #13a1a5;
        border-style: solid;
        border-width: 5px;
    }
    .sman-footer-main{
        position: fixed;
        bottom: 0px;
        height: 30px;
        display: inline;
        width: 100%;
        color: #13a1a5;
        padding-right: 30px;
        padding-left: 30px;
        background-color: white;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    text-center{
        text-align: center;
    }
    inline-block{
        display: inline;
    }

    .sman-btn{
        background-color: white;
        border-style: solid;
        border-radius: 5px;
        border-color: #13a1a5;
        color: #13a1a5;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 150px;
        font-weight: 600;
        font-size: 15px;
    }
    .sman-btn-main
    {
        margin-top: 100px;
    }
    .sman-content-main{
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 100px;
        background-color: white;
        color:#13a1a5;

    }
    .sman-body-margin{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .font-weight-list
    {
        font-weight: 600 !important;
    }
    .font-glyphy
    {
        font-size: 20px;
    }
    .fa{
        margin-left: 40px;
    }
    .footer-copyright{
        padding-top: 10px;
    }
    @media only screen and (max-width: 600px) {
        .sman-body{
            padding: 0 !important;
        }
    }
    .color-white{
        color: white;
    }
    .sman-form-header{
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        background-color: #13a1a5 !important;
    }
    .sman-row{
        padding: 0;
    }
    .sman-container{
        padding: 0;
        background-color: black;
    }
    .sman-inline{
        display: inline-block;
    }
    .sman-inventory-content{
        margin-top: 100px;
    }
    .table_item
    {
        padding-right: 50px;
        margin-bottom:20px;
    }
    td{
        text-align: left;
    }


    .table-update-btn, .table-delete-btn{

        width: 30px;
        height: 30px;
        border: 0;
        margin-top: -25px;
        background-color: Transparent;
        color: #13a1a5;
    }

    .table-add-btn{
        margin-top: -15px !important;
        width: 130px;
        height: 30px;
        border: 0;
        background-color: Transparent;
        font-weight: 600;
    }


    .sman-select-item, .sman-item-current-qty{
        background-color: white;
        border-style: solid;
        border-radius: 5px;
        border-color: #13a1a5;
        color: #13a1a5;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 150px;
        font-weight: 600;
        font-size: 15px;
        border-width: 2px;
        margin-right: 15px;
    }
    .sman-item-current-qty{
        min-width: 80px !important;
        max-width: 100px !important;
    }
    .color-primary{
        color: #13a1a5 !important;
    }

    .color-primary-bg{
        background-color: #13a1a5 !important;
    }
    .sManBillTotal{
    background-color: white;
    color: #13a1a5 !important;
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px
    }
    td{
        padding-top: 15px;
        border-bottom: solid #13a1a5;
    }
    .sMan-float-left{
        float: left;
    }
    .sMan-float-right{
        float: right;
    }
    .sMan-billDetailHeader{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right:  20px;
        padding-left: 20px;
        overflow: hidden;
        font-weight: 600;
        font-size: 18px;

    }
    .billDetailsHeaderRow{
        border-bottom: solid #13a1a5;
        border-right: solid #13a1a5;
        border-left: solid #13a1a5;
    }
    th{
        color: #13a1a5;
    }
    .billTableForm{
        margin-top: 20px;
    }
    th, td{
        padding: 10px 10px 10px 10px;
    }
    .sMan_Warning{
        color: red;
        font-weight: 600;
        font-size: 16px;
    }

</style>
{% load staticfiles %}
<div class="col-md-9 text-center">
            <div class="row">
                <div class="sman-form-header">
                    <font class="color-white">Billing</font>
                </div>
                <div class="sman-inventory-content">
                    <div class="sman-form-header">
                        <font class="color-white">Add Item</font>
                    </div>
                    <hr>
                    {% if all_items %}
                    <form action="{% url 'placeorder:add_selected_item' %}" method="post">
                        {% csrf_token %}

                        <select class="sman-select-item" name="order-item">
                            {% for item in all_items %}
                            <option value="{{ item.id }}">{{ item.item_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" step="0" class="sman-item-current-qty" name="current-qty" value="0"/>
                        <button class="table-add-btn sman-inline color1-bg color-white" type="submit" id="add-item-btn"><span class="glyphicon glyphicon-plus-sign "></span>&nbsp; &nbsp; Add Item</button>
                    </form>
                        <hr>
                    <div class="sMan-billDetailHeader color-primary-bg color-white">
                        <label class="current_order_id sMan-float-left">OrderID</label>
                        <lable clas="orderDetailHeaderLabel">Order Details</lable>
                        <label class="seller_name sMan-float-right">SellerName</label>
                    </div>
                    <div>
                        {% if successresponse %} <span class="sMan_Warning">{{ successresponse }} </span>{% if max %} <span class="sMan_Warning">[Only {{ max }}] Available </span>{% endif %}{% else %} <br> {% endif %}

                    </div>
                    <div class="billTableForm">
                        <form action="{% url 'placeorder:operation' %}" method="post">
                            {% csrf_token %}
                            <table align="center" class="billTable">
                                <tr class="billDetailsHeaderRow">
                                    <th>Item Name</th>
                                    <th>Item Price</th>
                                    <th>Item Quantity</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                                {% if all_carts %}
                                {% for item in all_carts %}
                                <tr>
                                    <td><label class="table_item">{{ item.cart_item_name }}</label></td>
                                    <td><label class="table_item">{{ item.cart_item_price }}</label></td>
                                    <td><label class="table_item">{{ item.cart_item_qty }}</label></td>
                                    <td><label class="table_item">{{ item.cart_item_total }}</label></td>
                                    <td class="table_item">
                                        <button class="table-delete-btn" type="submit" id="item_update{{ forloop.counter }}" name="delete" value="{{ item.id }}"><span class="glyphicon glyphicon-trash"/></button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr><td colspan="6">Cart is empty</td></tr>
                                {% endif %}
                            </table>
                        </form>
                    </div>
                    <form action="{% url 'placeorder:operation-cart' %}" method="post">
                        {% csrf_token %}
                        <div class="sManBillTotal color-primary"><label class="sManBillTotalLabelName">Total : </label>&nbsp;&nbsp;&nbsp;<labe class="sManBillTotalLabelValue" name="totalValue">{% if billTotalValue %} {{ billTotalValue }} {% else %} 0 {% endif %}</labe></div>
                        <br><button class="table-add-btn sman-inline color1-bg color-white" type="submit" name="generate" value="1"><span class="glyphicon glyphicon-shopping-cart "></span>&nbsp; &nbsp; Generate Bill</button>
                        &nbsp;&nbsp;
                        <button class="table-add-btn sman-inline color1-bg color-white" type="submit" name="delete" value="1"><span class="glyphicon glyphicon-trash"></span>&nbsp; &nbsp; Clear Cart </button>
                    </form>
                    {% else %}
                    <h2>You don't have any items</h2>
                    {% endif %}
                    <hr>
                </div>

            </div>
        </div>
{% endblock %}