{% extends 'placeorder/base.html' %}
{% block navblock %}
<li><a class="color1" href="{% url 'account:logout' %}">LOGOUT</a></li>
{% endblock %}
{% block sideblock%}
<div class="sman-sidebar-item">
    <a href="{% url 'account:slave_signup' %}">Add User</a>
</div>
{% endblock %}
{% block body %}
<!-- loads the path to your static files -->
{% load staticfiles %}
<style type="text/css" rel="stylesheet">


    .color1{
        font-weight: 600;
        color: #13a1a5 !important;
    }
    .color1-bg{
        background-color: #13a1a5 !important;
        border-radius: 15px;
    }
    .btn-outline-primary{
        border-color: #13a1a5;
        border-style: solid;
        border-width: 5px;
    }
    .sman-footer-main{
        position: fixed;
        bottom: 0px;
        height: 30px;
        display: inline;
        width: 100%;
        color: #13a1a5;
        padding-right: 30px;
        padding-left: 30px;
        background-color: white;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    text-center{
        text-align: center;
    }
    inline-block{
        display: inline;
    }

    .sman-btn{
        background-color: white;
        border-style: solid;
        border-radius: 5px;
        border-color: #13a1a5;
        color: #13a1a5;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 150px;
        font-weight: 600;
        font-size: 15px;
    }
    .sman-btn-main
    {
        margin-top: 100px;
    }
    .sman-content-main{
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 100px;
        background-color: white;
        color:#13a1a5;

    }
    .sman-body-margin{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .font-weight-list
    {
        font-weight: 600 !important;
    }
    .font-glyphy
    {
        font-size: 20px;
    }
    .fa{
        margin-left: 40px;
    }
    .footer-copyright{
        padding-top: 10px;
    }
    @media only screen and (max-width: 600px) {
        .sman-body{
            padding: 0 !important;
        }
    }
    .color-white{
        color: white;
    }
    .sman-form-header{
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        background-color: #13a1a5 !important;
    }
    .sman-row{
        padding: 0;
    }
    .sman-container{
        padding: 0;
        background-color: black;
    }
    div.sman-inline{
        display: inline-block;
    }
    .sman-inventory-content{
        margin-top: 100px;
    }
    td, th{
        padding: 10px 10px 10px 10px;
    }
    td{
        text-align: left;
    }

    .table-delete-btn{
        border: 0;
        background-color: Transparent;
        font-size: 20px;
        margin-top: -5px;
        color: #13a1a5;
    }
    .table-id-btn{
        min-width: 100px;
        height: 30px;
        border: 0;
        background-color: Transparent;
        font-weight: 600;
        color: white;
    }
    .sMan_Warning{
        color: red;
        font-weight: 600;
        font-size: 16px;
    }
    .billDetailsHeaderRow{
        border-bottom: solid #13a1a5;
        border-right: solid #13a1a5;
        border-left: solid #13a1a5;
    }
    th{
        color: #13a1a5;
    }

</style>
<div class="col-md-9 text-center">
            <div class="row">
                <div class="sman-form-header">
                    <font class="color-white">Orders</font>
                </div>
                <div class="sman-inventory-content">
                    <hr>
                    <div>
                        {% if successresponse %} <span class="sMan_Warning">{{ successresponse }} </span>{% else %} <br> {% endif %}
                        <br>
                        <br>
                    </div>
                    {% if orders %}
                    <form action="{%url 'placeorder:order-delete' %}" method="post">
                        {% csrf_token %}

                        <table align="center">
                            <tr class="billDetailsHeaderRow">
                                <th>Order Id</th>
                                <th>Order Price</th>
                                <th></th>
                            </tr>
                            {% for order in orders %}
                            <tr>
                                <td><label class="table_item"><button class="table-id-btn sman-inline color1-bg color-white" type="submit" id="add-ditem-btn" name="order_id" value="{{ order.id }}">#{{ order.id }}</button></label></td>
                                <td><label class="table_item">{{ order.order_price }}</label></td>
                                {% if admin_type %}<td class="table_item"><button class="table-delete-btn" type="submit" id="order_delete{{ forloop.counter }}" name="delete" value="{{ order.id }}"><span class="glyphicon glyphicon-trash"/></button></td>{% else %}<td></td>{% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </form>
                    {% else %}
                    <h2>You don't have any Orders placed</h2>
                    {% endif %}
                    <hr>
                </div>

            </div>
        </div>
{% endblock %}