<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StoreMan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand color1" href="{% url 'welcome:index' %}">StoreMan</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="color1" href="{% url 'welcome:index' %}">HOME</a></li>
                        <li><a class="color1" href="#tour">ABOUT US</a></li>
                        <li><a class="color1" href="#contact">CONTACT</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle color1" data-toggle="dropdown" href="#">MORE
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="color1" href="{% url 'account:sign-in' %}"><b>SIGN-IN</b></a></li>
                                <li><a class="color1" href="{% url 'account:sign-up' %}"><b>SIGN-UP</b></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% block body %}
    {% endblock %}

    <div class="sman-footer-main">
        <div class="float-left color1 font-glyphy"><span class="fa fa-google-plus-square color1"></span><span class="fa fa-facebook-square color1"></span><span class="fa fa-instagram color1"></span><span class="fa fa-twitter-square color1"></span></div>
        <div class="footer-copyright float-right color1">© 2018 Copyright:
            <a href="#" class="color1"> StoreMan.com</a>
        </div>
    </div>
</body>
</html>