{% extends 'welcome/base.html' %}
{% block body %}
<!-- loads the path to your static files -->
{% load staticfiles %}
<style type="text/css" rel="stylesheet">


            .color1{
                font-weight: 600;
                color: #13a1a5 !important;
            }

            .sman-body{
                margin-top: 150px;
                margin-bottom: 100px;
                padding-left: 500px;
                padding-right: 500px;
                width: 100%;
            }

            .sman-body-content{
                color: white;
            }
            .bgimage{
                background: url("{% static 'welcome/images/imagebg.jpg' %}") no-repeat;
                background-size: cover;
                height: 400px;
                border-radius: 25px;

            }
            .btn-outline-primary{
                border-color: #13a1a5;
                border-style: solid;
                border-width: 5px;
            }


            .sman-footer-main{
                position: fixed;
                bottom: 0px;
                height: 30px;
                display: inline;
                width: 100%;
                color: #13a1a5;
                padding-right: 30px;
                padding-left: 30px;
                background-color: white;
            }
            .float-left{
                float: left;
            }
            .float-right{
                float: right;
            }
            text-center{
                text-align: center;
            }
            inline-block{
                display: inline;
            }
            .sman-btn{
                background-color: white;
                border-style: solid;
                border-radius: 5px;
                border-color: #13a1a5;
                color: #13a1a5;
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 15px;
                padding-right: 15px;
                min-width: 150px;
                font-weight: 600;
                font-size: 15px;
            }
            .sman-btn-main
            {
                margin-top: 100px;
            }
            .sman-content-main{
                padding-bottom: 10px;
                padding-top: 10px;
                font-weight: 600;
                font-size: 15px;
                margin-top: 100px;
                background-color: white;
                color:#13a1a5;

            }
            .font-weight-list
            {
                font-weight: 600 !important;
            }
            .font-glyphy
            {
                font-size: 20px;
            }
            .fa{
                margin-left: 40px;
            }
            .footer-copyright{
                padding-top: 10px;
            }
            @media only screen and (max-width: 600px) {
                .sman-body{
                    padding: 0 !important;
                }
            }
        </style>
<!-- ########################################   BODY-START #############################################-->
<div class="container-fluid">
    <div class="row">
        <div class="sman-body text-center inline-block">
            <div class=" bgimage">
                <div class="sman-body-content">
                    <div class="container-fluid">
                        <div class="row sman-content-main">
                            <div class="col-sm-12">
                                <h3 class="font-weight-list">Welcome</h3>
                                The purpose of business is to create and keep a customer.
                                <br>Take the first step...
                            </div>
                        </div>
                        <div class="row sman-btn-main">
                            <div class="col-md-6"><button type="button" class="btn sman-btn" onclick="location.href='{% url 'account:sign-in' %}'">Sign-In</button></div>
                            <div class="col-md-6"><button type="button" class="btn sman-btn" onclick="location.href='{% url 'account:sign-up' %}'">Sign-Up</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ########################################   BODY-END #############################################-->
{% endblock %}