<style  type="text/css" rel="stylesheet">
    .color1{
        font-weight: 600;
        color: #13a1a5 !important;
    }

    .sman-footer-main{
        position: fixed;
        bottom: 0px;
        height: 30px;
        display: inline;
        width: 100%;
        color: #13a1a5;
        padding-right: 30px;
        padding-left: 30px;
        background-color: white;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    text-center{
        text-align: center;
    }
    inline-block{
        display: inline;
    }

    /*  Button Style */

    .btn-outline-primary{
        border-color: #13a1a5;
        border-style: solid;
        border-width: 5px;
    }
    .sman-btn{
        background-color: white;
        border-style: solid;
        border-radius: 5px;
        border-color: #13a1a5;
        color: #13a1a5;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 150px;
        font-weight: 600;
        font-size: 15px;
    }
    .sman-input-login
    {
        margin-right: 50px;
        color: #13a1a5;
        font-weight: 600;
        border-style: solid;
        border-radius: 2px;
        min-height: 30px;
        min-width: 200px;
        border-color: #13a1a5;

    }
    .sman-btn-main
    {
        margin-top: 100px;
    }

    .sman-content-main{
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 100px;
        background-color: white;
        color:#13a1a5;

    }
    .sman-body-margin{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .font-weight-list
    {
        font-weight: 600 !important;
    }
    .font-glyphy
    {
        font-size: 20px;
    }
    .fa{
        margin-left: 40px;
    }
    .footer-copyright{
        padding-top: 10px;
    }
    @media only screen and (max-width: 600px) {
        .sman-body{
            padding: 0 !important;
        }
    }
    .color-white{
        color: white;
    }
    .sman-form-header{
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        background-color: #13a1a5 !important;
    }
    .sman-login-context{
        margin-top: 100px;
        margin-bottom: 100px;

    }
    .sman-row{
        padding: 0;
    }
    .sman-container{
        padding: 0;
        background-color: black;
    }
    div.sman-inline{
        display: inline-block;
    }
    .sman-align-left{
        text-align: left;
    }
    .sman-align-center{
        text-align: center;
    }
    .sman-btn-container{
        margin-top: 20px;
    }
    .sman-radio-label{
        margin-right: 50px;
        color: #13a1a5;
        font-weight: 600;
        font-size: 15px;
    }
    .sman-color-warning{
        color: red;
    }
    .table-item{
        padding-right: 20px;
        margin-bottom: 20px;
    }
</style>
{% extends 'inventory/base.html' %}
{% block navblock %}
<li><a class="color1" href="{% url 'account:logout' %}">LOGOUT</a></li>
{% endblock %}
{% block sideblock%}
<div class="sman-sidebar-item">
    <a href="{% url 'account:slave_signup' %}">Add User</a>
</div>
{% endblock %}
{% block body %}
<div class="col-md-9 text-center">
            <div class="row">
                <div class="sman-form-header">
                    <font class="color-white">Add Inventory Item</font>
                </div>
                <div class="sman-login-context">
                    <div class="sman-inline sman-align-left">
                        <br>
                        <hr>
                        <table>
                        <form method="post" action="{%url 'inventory:operation' %}">
                            {% csrf_token %}
                            <tr>
                                <td><label class="table-item sman-color-warning">ADD</label></td>
                                <td><label class="table-item">Item Name</label></td>
                                <td><label class="table-item sman-color-warning">:</label></td>
                                <td><input class="table-item sman-input-login" type="text" name="item_name" placeholder="Enter Item Name"></td>
                            </tr>
                            <tr>
                                <td><label class="table-item sman-color-warning">ADD</label></td>
                                <td><label class="table-item">Item Qyantity</label></td>
                                <td><label class="table-item sman-color-warning">:</label></td>
                                <td><input class="table-item sman-input-login" type="text" name="item_qty" placeholder="Enter Quantity"></td>
                            </tr>
                            <tr>
                                <td><label class="table-item sman-color-warning">ADD</label></td>
                                <td><label class="table-item">Item Price</label></td>
                                <td><label class="table-item sman-color-warning">:</label></td>
                                <td><input class="table-item sman-input-login" type="text" name="item_price" placeholder="Enter Price"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="sman-align-center sman-btn-container">
                                        <input class="sman-btn btn-outline-primary" type="Submit" value="Add" name="add"/>
                                    </div>
                                </td>
                            </tr>
                        </form>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}