{% extends 'inventory/base.html' %}

{% block navblock %}
<li><a class="color1" href="{% url 'account:logout' %}">LOGOUT</a></li>
{% endblock %}
{% block sideblock%}
<div class="sman-sidebar-item">
    <a href="{% url 'account:slave_signup' %}">Add User</a>
</div>
{% endblock %}
{% block body %}
<!-- loads the path to your static files -->
{% load staticfiles %}
<style type="text/css" rel="stylesheet">
    .color1{
        font-weight: 600;
        color: #13a1a5 !important;
    }
    .btn-outline-primary{
        border-color: #13a1a5;
        border-style: solid;
        border-width: 5px;
    }
    .sman-footer-main{
        position: fixed;
        bottom: 0px;
        height: 30px;
        display: inline;
        width: 100%;
        color: #13a1a5;
        padding-right: 30px;
        padding-left: 30px;
        background-color: white;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    text-center{
        text-align: center;
    }
    inline-block{
        display: inline;
    }

    .sman-btn{
        background-color: white;
        border-style: solid;
        border-radius: 5px;
        border-color: #13a1a5;
        color: #13a1a5;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 150px;
        font-weight: 600;
        font-size: 15px;
    }
    .sman-btn-main
    {
        margin-top: 100px;
    }
    .sman-content-main{
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 100px;
        background-color: white;
        color:#13a1a5;

    }
    .sman-body-margin{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .font-weight-list
    {
        font-weight: 600 !important;
    }
    .font-glyphy
    {
        font-size: 20px;
    }
    .fa{
        margin-left: 40px;
    }
    .footer-copyright{
        padding-top: 10px;
    }
    @media only screen and (max-width: 600px) {
        .sman-body{
            padding: 0 !important;
        }
    }
    .color-white{
        color: white;
    }
    .sman-form-header{
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        background-color: #13a1a5 !important;
    }
    .sman-row{
        padding: 0;
    }
    .sman-container{
        padding: 0;
        background-color: black;
    }
    div.sman-inline{
        display: inline-block;
    }
    .sman-inventory-content{
        margin-top: 100px;
    }
    td, th{
        padding: 10px 10px 10px 10px;
    }
    .billDetailsHeaderRow{
        border-bottom: solid #13a1a5;
        border-right: solid #13a1a5;
        border-left: solid #13a1a5;
    }
    th{
        color: #13a1a5;
    }
    td{
        text-align: left;
    }

    .table-update-btn, .table-delete-btn{

        width: 30px;
        height: 30px;
        border: 0;
        margin-bottom: 5px;
        background-color: Transparent;
        color: #13a1a5;
    }
    .sMan_Warning{
        color: red;
        font-weight: 600;
        font-size: 16px;
    }

</style>
<div class="col-md-9 text-center">
            <div class="row">
                <div class="sman-form-header">
                    <font class="color-white">Manage Inventory</font>
                </div>
                <div class="sman-inventory-content">
                    <hr>
                    {% if all_items %}
                    <form action="{% url 'inventory:operation' %}" method="post">
                        {% csrf_token %}
                        <hr>
                        <div class="sMan-billDetailHeader color-primary-bg color-white">
                            <label class="current_order_id sMan-float-left">OrderID</label>
                            <lable clas="orderDetailHeaderLabel">Order Details</lable>
                            <label class="seller_name sMan-float-right">SellerName</label>
                        </div>
                        <div>
                            {% if successresponse %} <span class="sMan_Warning">{{ successresponse }} </span>{% else %} <br> {% endif %}
                        </div>
                        <table align="center">
                            <tr class="billDetailsHeaderRow">
                                <th>Item Name</th>
                                <th>Item Quantity</th>
                                <th>Item Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {% for item in all_items %}
                            <tr>
                                <td><label class="table_item">{{ item.item_name }}</label></td>
                                <td><label class="table_item">{{ item.item_qty }}</label></td>
                                <td><label class="table_item">{{ item.item_price }}</label></td>
                                <td class="table_item">{% if admin_slave %}{% else %}<button class="table-delete-btn" type="submit" id="item_update{{ forloop.counter }}" name="delete" value="{{ item.id }}"><span class="glyphicon glyphicon-trash"/></button>{% endif %}</td>
                                <td class="table_item">{% if admin_slave %}{% else %}<button class="table-update-btn" type="submit" id="item_delete{{ forloop.counter }}" name="update" value="{{ item.id }}"><span class="glyphicon glyphicon-pencil"/></button>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </form>
                    {% else %}
                    <h2>You don't have any items</h2>
                    {% endif %}
                    <hr>
                </div>

            </div>
        </div>
{% endblock %}