
<style type="text/css" rel="stylesheet">
.color1{
    font-weight: 600;
    color: #13a1a5 !important;
}

.sman-footer-main{
    position: fixed;
    bottom: 0px;
    height: 30px;
    display: inline;
    width: 100%;
    color: #13a1a5;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
text-center{
    text-align: center;
}
inline-block{
    display: inline;
}

/*  Button Style */

.btn-outline-primary{
    border-color: #13a1a5;
    border-style: solid;
    border-width: 5px;
}
.sman-btn{
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: #13a1a5;
    color: #13a1a5;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 150px;
    font-weight: 600;
    font-size: 15px;
}
.sman-input-login
{
    margin-left: 50px;
    color: #13a1a5;
    font-weight: 600;
    border-style: solid;
    border-radius: 2px;
    min-height: 30px;
    min-width: 200px;
    border-color: #13a1a5;

}
.sman-btn-main
{
    margin-top: 100px;
}

.sman-content-main{
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 100px;
    background-color: white;
    color:#13a1a5;

}
.sman-body-margin{
    margin-top: 100px;
    margin-bottom: 100px;
}
.font-weight-list
{
    font-weight: 600 !important;
}
.font-glyphy
{
    font-size: 20px;
}
.fa{
    margin-left: 40px;
}
.footer-copyright{
    padding-top: 10px;
}
@media only screen and (max-width: 600px) {
    .sman-body{
        padding: 0 !important;
    }
}
.color-white{
    color: white;
}
.sman-form-header{
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    background-color: #13a1a5 !important;
}
.sman-login-context{
    margin-top: 200px;
    margin-bottom: 100px;

}
.sman-row{
    padding: 0;
}
.sman-container{
    padding: 0;
    background-color: black;
}
div.sman-inline{
    display: inline-block;
}
.sman-color-red{
    color: red;
}
</style>

{% extends 'account/base.html' %}

{% block navblock %}
<li class="dropdown">
    <a class="dropdown-toggle color1" data-toggle="dropdown" href="#">MORE
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="color1" href="{% url 'account:sign-in' %}">SIGN-IN</a></li>
        <li><a class="color1" href="{% url 'account:sign-up' %}">SIGN-UP</a></li>
    </ul>
</li>
{% endblock %}


{% block body %}
<!-- ########################################   BODY-START #############################################-->
<div class="container-fluid sman-body-margin">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="sman-form-header">
                    <font class="color-white">Sign-In</font>
                </div>
                <div class="sman-login-context">
                    <div class="sman-inline">
                        <br>
                        <form action="{% url 'account:sign_in_validate'%}" method="post">
                            {% csrf_token %}
                            <input class="sman-input-login" name="username" type="text" placeholder="Username" required>
                            <input class="sman-input-login" name="password" type="password" placeholder="Password" required>
                            <br>
                            <p><strong class="sman-color-red">{% if error_message %} {{ error_message }} {% else %} <br>{% endif %}</strong></p>
                            <br>
                            <input class="sman-btn btn-outline-primary" type="Submit" value="SignIn"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ########################################   BODY-END #############################################-->
{% endblock %}