<style type="text/css" rel="stylesheet">
.color1{
    font-weight: 600;
    color: #13a1a5 !important;
}

.sman-footer-main{
    position: fixed;
    bottom: 0px;
    height: 30px;
    display: inline;
    width: 100%;
    color: #13a1a5;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
text-center{
    text-align: center;
}
inline-block{
    display: inline;
}

/*  Button Style */

.btn-outline-primary{
    border-color: #13a1a5;
    border-style: solid;
    border-width: 5px;
}
.sman-btn{
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: #13a1a5;
    color: #13a1a5;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 150px;
    font-weight: 600;
    font-size: 15px;
}
.sman-input-login
{
    margin-right: 50px;
    color: #13a1a5;
    font-weight: 600;
    border-style: solid;
    border-radius: 2px;
    min-height: 30px;
    min-width: 200px;
    border-color: #13a1a5;

}
.sman-btn-main
{
    margin-top: 100px;
}

.sman-content-main{
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 100px;
    background-color: white;
    color:#13a1a5;

}
.sman-body-margin{
    margin-top: 100px;
    margin-bottom: 100px;
}
.font-weight-list
{
    font-weight: 600 !important;
}
.font-glyphy
{
    font-size: 20px;
}
.fa{
    margin-left: 40px;
}
.footer-copyright{
    padding-top: 10px;
}
@media only screen and (max-width: 600px) {
    .sman-body{
        padding: 0 !important;
    }
}
.color-white{
    color: white;
}
.sman-form-header{
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    background-color: #13a1a5 !important;
}
.sman-login-context{
    margin-top: 200px;
    margin-bottom: 100px;

}
.sman-row{
    padding: 0;
}
.sman-container{
    padding: 0;
    background-color: black;
}
div.sman-inline{
    display: inline-block;
}
.sman-align-left{
    text-align: left;
}
.sman-align-center{
    text-align: center;
}
.sman-btn-container{
    margin-top: 20px;
}
.sman-radio-label{
    margin-right: 50px;
    color: #13a1a5;
    font-weight: 600;
    font-size: 15px;
}
.sman-color-red{
    color: red;
}
td{
    padding: 10px 10px 10px 10px !important;
}

.sman-float-right{
    float: right;
}
.sman-float-left{
    float: left;
}
</style>

{% extends 'account/base.html' %}

{% block navblock %}
<li><a class="color1" href="{% url 'account:logout' %}">LOGOUT</a></li>
{% endblock %}

{% block body %}
<!-- ########################################   BODY-START #############################################-->
<div class="container-fluid sman-body-margin">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="sman-form-header">
                    <font class="color-white">Sign-Up Another User</font>
                </div>
                <div class="sman-login-context">
                    <div class="sman-inline sman-align-left">
                        <br>

                        <form action="{% url 'account:sign_up_validate'%}" method="post">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td><input class="sman-input-login" type="text" placeholder="First Name" name="firstName" required></td>
                                    <td><input class="sman-input-login" type="text" placeholder="Last Name" name="lastName" required></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input class="sman-input-login" type="text" placeholder="UserName" name="username" required></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input class="sman-input-login" type="password" placeholder="Password" name="password" required></td>
                                    <td><input class="sman-input-login" type="password" placeholder="Confirm Password" name="confirmPassword" required></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><label class="sman-radio-label sman-float-right">Gender:</label></td>
                                    <td>
                                        <div class="sman-inline ">
                                            <label class="sman-radio-label sman-float-left">
                                                <input type="radio" class="sman-radio-btn" name="gender" value="1" required>Male
                                            </label>
                                        </div>
                                        <div class="sman-inline sman-float-right">
                                            <label class="sman-radio-label">
                                                <input type="radio" class="sman-radio-btn" name="gender" value="0" required>Female
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="sman-radio-label sman-float-right">Admin type:</label></td>
                                    <td>
                                        <div class="sman-inline ">
                                            <label class="sman-radio-label sman-float-left">
                                                <input type="radio" class="sman-radio-btn" name="admin_type" value="1" required>Master
                                            </label>
                                        </div>
                                        <div class="sman-inline sman-float-right">
                                            <label class="sman-radio-label">
                                                <input type="radio" class="sman-radio-btn" name="admin_type" value="2" required>Slave
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>

                            <p><strong class="sman-color-red">{% if error_message %} {{ error_message }} {% else %} <br>{% endif %}</strong></p>
                            <div class="sman-align-center sman-btn-container">
                                <input class="sman-btn btn-outline-primary" type="Submit" value="SignUp"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ########################################   BODY-END #############################################-->
{% endblock %}